<div class="add_event">


  <h2 class="title">S'inscrire</h2>
   <%- if controller_name != 'sessions' %>
    <p style="text-align : center;">Vous avez déjà un compte? <%= link_to "Se connecter", new_session_path(resource_name), :class =>"linklog" %></p>
<% end %>
 
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<form>
  <div class="form-group">
    <%= f.label :nom %><br />
    <%= f.text_field :nom, autocomplete: "nom", :class => "form-control", :placeholder => "Votre nom" %>
  </div>

  <div class="form-group">
    <%= f.label :prénom %><br />
    <%= f.text_field :prenom, autocomplete: "prenom", :class => "form-control", :placeholder => "Votre prénom" %>
  </div>

  <div class="form-group">
    <%= f.label :qualifications %><br />
    <%= f.text_field :description, :class => "form-control", :placeholder => "Ex : Etudiant, interprète, personne curieuse, etc." %>
  </div>

  <div class="form-group">
    <%= f.label :Ville %><br />
    <%= f.text_field :lieu, :class => "form-control", :placeholder => "Dans quelle ville vous situez-vous ?" %>
  </div>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "Email", :class => "form-control", :placeholder => "Votre email" %>
  </div style="position : absolute;">

  <div class="form-group">
    <%= f.label :Mot_de_passe %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "Mot de passe", :class => "form-control", :placeholder => "Mot de passe" %>
  </div>

  <div class="form-group">
    <%= f.label :Confirmation_de_mot_de_passe %><br />
    <%= f.password_field :password_confirmation, autocomplete: "Confirmation de mot de passe", :class => "form-control", :placeholder => "Mot de passe" %>
  </div>

   <div class="form-group">
    <%= f.label :Biographie %><br />
    <%= f.text_area :bio, :class => "form-control", :placeholder => "Décrivez-vous en quelques mots pour que les utilisateurs puissent découvrir vos passions, centre d'interêts, etc." %>
  </div>
  <div class="insc1">
   <%= f.submit "S'inscrire", :class => "btn btn-outline-danger button-login"%>
  </div>
  </form>
<% end %>
   
</div>




