<div class="col-md-3">
  <%= link_to event do %>
    <div class="card card-events shadow">
      <%= image_tag "categories/#{event.category}.jpg", class: 'card-img-top' if event.category %>
      <div class="card-body">
        <h5 class="card-title"><%= event.nom %></h5>
        <span class="badge badge-light"><%= event.category %></span>
        <p class="card-text">Le <%= event.start_at.strftime('%d/%m/%Y à %H:%M') if event.start_at%></p>
        <p class="card-text"><%= link_to event.ville, 'https://www.google.fr/maps/search/' +  event.ville %></p>
      </div>
      <div class="card-footer">
      <% if can? :participate, event %>
        <%= link_to 'Participer', event, :class => "btn btn-primary btn-sm"%>
      <% end %>
      <% if can? :update, event %>
        <%= link_to 'Modifier', edit_event_path(event), class: "btn btn-primary btn-sm" %>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
