<%= simple_form_for event do |f| %>
  <div class="row">
    <div class="col-md-6">
      <%= f.input :nom %>
      <%= f.input :description %>
    </div>
    <div class="col-md-6">
      <%= f.input :lieu %>
      <%= f.input :ville %>
      <%= f.input :start_at, html5: true %>
    </div>
  </div>

  <%= f.button :submit, 'Enregistrer' %>
<% end %>
