<div class="containt">
     <div class="centrer">
        <h2 class="darkblue">Créer une rencontre</h2>
      </div>
      <div>
        <!--
      <div class="img">     
    <%= image_tag 'gauche.png', class: "img-g" %>
    </div>
  -->


   
<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="cont">


  
  

 <div class="form-group">

    <%= form.label :nom %>
    <%= form.text_field :nom, :class => "form-control", :placeholder => "Nom" %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_field :description, :class => "form-control", :placeholder => "Description de votre évènement, nombre de places..." %>
  </div>

  <div class="form-group">
    <%= form.label :date %>
    <%= form.date_select :date, :class => "form-control", :placeholder => "Date" %>
  </div>

  <div class="form-group">
    <%= form.label :heure %>
    <%= form.time_select :heure, :class => "form-control", :placeholder => "Heure" %>
  </div>


  <div class="form-group">
    <%= form.label :lieu %>
    <%= form.text_field :adresse, :class => "form-control", :placeholder => "Adresse" %>
    <%= form.number_field :code_postal, :class => "form-control", :placeholder => "Code Postal" %>
    <%= form.text_field :ville, :class => "form-control", :placeholder => "Ville" %>
  </div>

  <div class="form-group">
    <%= form.label :sujet_clé %>
    <%= form.text_field :sujet_clé, :class => "form-control", :placeholder => "Sujet clé" %>
  </div>
</div>
</div>

  <div class="centrer">
    <%= form.submit :class => "btn btn-primary buttoncreate"%>
  </div>
  <% end %>
  </div>
</div>


<!--
  <div class="img1">     
    <%= image_tag 'droite2.png', class: "img-j" %>
  </div>
-->
