


 <div class="events">
    <h1 class="title">Rencontres</h1>
    <div class="row">
      <% @events.each do |event| %>
        <div class="card" style="width: 60%; margin: auto;"> 
            <div class="card-body">
              <h3 class="card-title"><%= event.nom %></h3>
              <p class="card-text">
              <p class="user"><%= mail_to event.user_contact, event.user_contact %></p>
              <%= event.date.strftime('%d/%m/%Y')%> <br>
              <%= event.heure.strftime('%H:%M') %> <br>
              <%= event.lieu %> <br>
              </p> 
              <%= link_to 'Afficher', event, :class => "btn btn-outline-primary"%>
              <% if user_signed_in? && event.user_id == current_user.id %>
              <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-outline-secondary" %>
              <%= link_to 'Destroy', event, :class => "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>  
          <% end %>
         </div>

        </div>
      <% end %>
    </div>
  </div>


