


 <div class="events">
    <h1 class="title">Rencontres</h1>
    <div class="row">
      <% @events.each do |event| %>
        <div class="card" style="width: 60%; margin: auto;"> 
            <div class="card-body">
              <h3 class="card-title"><%= event.nom %></h3>
              <p class="card-text">
              <p class="user">Organiser par : <%= mail_to event.user_contact, event.user_contact %></p>
              <%= event.date.strftime('%d/%m/%Y')%> <br>
              <%= event.heure.strftime('%H:%M') %> <br>
              <%= link_to event.lieu, 'https://www.google.fr/maps/search/' +  event.lieu + '+' + event.num_rue.to_s + '+' + event.rue + '+' + event.code_postal.to_s + '+' +  event.ville , target: "_blank", :class => ""%> <br>
              <%= event.num_rue %> <%= event.rue %>  <br>
              <%= event.code_postal %> <%= event.ville %> <br>
              <% event_adress = event.num_rue%>
              </p> 
              <%= link_to 'Afficher', event, :class => "btn btn-outline-primary"%>
              <% if user_signed_in? && event.user_id == current_user.id %>
<<<<<<< HEAD
              <%= link_to 'Modifier', edit_event_path(event), :class => "btn btn-outline-secondary" %>
              <%= link_to 'Supprimer', event, :class => "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>  
          <% end %>
         </div>

=======
              <%= link_to 'Edit', edit_event_path(event), :class => "btn btn-outline-secondary" %>
              <%= link_to 'Destroy', event, :class => "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %> 
              <% end %> 
            </div>   
>>>>>>> 75f57e09ef9cd446d8f66058806e2ab9d7b2a848
        </div>
      <% end %>
    </div>
  </div>


