  <div class="events">

    <h2 class="title">Rencontres</h2>
    <div class="container">

    <h2 class="dated-events">Événements à venir</h2>
    <div class="row index-events">
      <% @events.sort_by{ |t| t.date }.each do |event| %>
        <%if event.date > Date.today %>
          <div class="card col-3">
            <%= image_tag 'imgv0.jpg', class: "card-img-top" %>
            <div class="card-body acc">
              <p class="card-text acc">Type</p>
              <h5 class="card-title acc"><%= event.nom %></h5>
              <p class="card-text acc">Le <%= event.date.strftime('%d/%m/%Y')%> à <%= event.heure.strftime('%H:%M') %></p>
              <p class="card-text acc"><%= link_to event.lieu, 'https://www.google.fr/maps/search/' +  event.lieu + '+' + event.num_rue.to_s + '+' + event.rue + '+' + event.code_postal.to_s + '+' +  event.ville , target: "_blank", :class => "link"%> à <%= event.ville %></p> 
              <%= link_to 'Participer', event, :class => "btn btn-primary btn-sm"%>
              <% if user_signed_in? && event.user_id == current_user.id %>
              <%= link_to 'Modifier', edit_event_path(event), :class => "btn btn-primary btn-sm" %>
              </i><%= link_to 'Supprimer', event, :class => "btn btn-primary btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
              <% end %> 
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <h2 class="dated-events">Événements passés</h2>
    <div class="row index-events">
      <% @events.sort_by{ |t| t.date }.each do |event| %>
        <%if event.date < Date.today %>
          <div class="card col-3">
          <%= image_tag 'imgv0.jpg', class: "card-img-top" %>
          <div class="card-body acc">
            <p class="card-text acc">Type</p>
            <h5 class="card-title acc"><%= event.nom %></h5>
            <p class="card-text acc">Le <%= event.date.strftime('%d/%m/%Y')%> à <%= event.heure.strftime('%H:%M') %></p>
            <p class="card-text acc"><%= link_to event.lieu, 'https://www.google.fr/maps/search/' +  event.lieu + '+' + event.num_rue.to_s + '+' + event.rue + '+' + event.code_postal.to_s + '+' +  event.ville , target: "_blank", :class => "link"%> à <%= event.ville %></p> 
            <%= link_to 'Participer', event, :class => "btn btn-primary btn-sm"%>
            <% if user_signed_in? && event.user_id == current_user.id %>
            <%= link_to 'Modifier', edit_event_path(event), :class => "btn btn-primary btn-sm" %>
            </i><%= link_to 'Supprimer', event, :class => "btn btn-primary btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %> 
          </div>
        </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>
