

 <div class="events">
    <h1 class="title">Rencontres</h1>
    <div class="container">
    <div class="row">
      <% @events.each do |event| %>
      <div class="col-sm-4"> 
        <div class="card"> 
            <div class="card-body">
              <h3 class="card-title"><%= event.nom %></h3>
              <p class="card-text">
              <p class="user"><strong>Organisateur : </strong><p><%= mail_to event.user_contact, event.user_contact %></p></p>
              <p class="date"><strong>Date :</strong><%= event.date.strftime('%d/%m/%Y')%></p> 
              <p class="heure"><strong>Heure :</strong><%= event.heure.strftime('%H:%M') %></p> 
              <p class="lieu"><strong>Lieu :</strong><%= event.lieu %></p> 
              <p class="ville"><strong>Ville :</strong><%= event.ville %></p> 
              </p> 
              <div class="bottom">
              <%= link_to 'Afficher', event, :class => "btn btn-outline-primary btn-sm"%>
              <% if user_signed_in? && event.user_id == current_user.id %>
              <%= link_to 'Modifier', edit_event_path(event), :class => "btn btn-outline-secondary btn-sm" %>
              <%= link_to 'Supprimer', event, :class => "btn btn-outline-danger btn-sm", method: :delete, data: { confirm: 'Are you sure?' } %> 
              <% end %> 
            </div> 
            </div>  
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>


