  <div class="container">
    <h1>Événements</h1>
    <div class="d-flex justify-content-center mb-4 search">
      <div class="input-group">

           <%= form_tag events_path, method: "get", id: "filter", class: "filter" do %>
              <%= label_tag "Trier par catégorie :" %>
              <%= select "event", "cat_id", @categories.each {|c| [ c[1] ] }, { include_blank: true }, onchange: "$('#filter').submit();"%>
            <% end %>

          <%= link_to '+ Créer un évènement', new_event_path(@events), class: 'btn btn-primary' %>
        </div>
      </div>    
    <div  class="alert alert-danger text-center" role="alert">
      <h4> En raison de l'actualité, il se peut que certains événements soient perturbés. <br> Contactez l'organisateur pour en savoir plus.</h4>
      <a href="https://www.gouvernement.fr/"> Consultez les dernières informations sur l’épidémie de Covid-19 en France</a>
    </div> 
    <% if @future_events.any? %>
      <h2 class="mt-5">Événements à venir</h2>

      <div class="row">
        <% @future_events.each do |event| %>
          <%= render event %>
        <% end %>
      </div>
    <% end %>
    <h2 class="mt-5">Événements passés</h2>
    <div class="row">
      <% @past_events.each do |event| %>
        <%= render event %>
      <% end %>
    </div>
  </div>
</div>