<div class='container event'>
  <h1><%= @event %></h1>
  <%= image_tag "categories/#{@event.category}.jpg", class: 'img-fluid' if @event.category %>
  <h2>
    <strong>Organisateur </strong><br>
    <%= mail_to @event.user, @event.user.email %>
  </h2>
  <div class="event__infos">
    <h3>
      <strong>Lieu </strong><br>
      <%= link_to @event.lieu, 'https://www.google.fr/maps/search/' +  @event.lieu +  @event.ville , target: "_blank", :class => "link"%> à <%= @event.ville %>
    </h3>
    <h3>
      <strong>Date</strong><br>
      <%= @event.start_at.strftime('%d/%m/%Y à %H:%M')%>
    </h3>
  </div>
  <div class='event__description'>
    <%= simple_format @event.description %>
  </div>
  <% if user_signed_in? && @event.user_id == current_user.id %>
    <%= link_to 'Modifier', edit_event_path(@event), class: 'btn btn-primary' %>
  <% end %>
</div>
