<div class='container event'>
  <h1><%= @event %></h1>
<<<<<<< HEAD
  <div  class="alert alert-danger" role="alert">
  <h4 style="text-align: center;"> En raison de l'actualité, il se peut que certains événements soient perturbés. <br> Contactez l'organisateur pour en savoir plus.</h4>
  <a href="https://www.gouvernement.fr/"> Consultez les dernières informations sur l’épidémie de Covid-19 en France</a>
</div> 
=======
  <div class="news_corona mb-5">
    <h4 style="text-align: center; color:red;" > En raison de l'actualité, il se peut que certains événements soient perturbés. <br> Contactez l'organisateur pour en savoir plus.</h4>
   <center><a href="https://www.gouvernement.fr/" style="text-align:center; color:red;"> Consultez les dernières informations sur l’épidémie de Covid-19 en France</a>
  </div> 

  <div class="event__show d-flex">
>>>>>>> 64aa38d0a541489c0d334dd6d1f7594878e1f67f
    <%= image_tag "categories/#{@event.category}.jpg", class: 'img-fluid' if @event.category %>
  
    <div class="d-flex flex-column ml-5">
      <h5>
        <strong>Organisé par</strong> <%= @event.user %><br>
        <%= mail_to @event.user, @event.user.email %>
        </h5>
        <div class="event__infos">
          <h5>
            <strong>Lieu </strong><br>
            <%= link_to @event.lieu, 'https://www.google.fr/maps/search/' +  @event.lieu +  @event.ville , target: "_blank", :class => "link"%> à <%= @event.ville %>
          </h5>
          <h5>
            <strong>Date</strong><br>
            <%= @event.start_at.strftime('%d/%m/%Y à %H:%M')%>
          </h5>
        </div>
        <div class='event__description'>
          <%= simple_format @event.description %>
        </div>
        <% if user_signed_in? && @event.user_id == current_user.id %>
          <div class="d-flex">
            <%= link_to 'Modifier', edit_event_path(@event), class: 'btn btn-primary' %>
            <%= link_to 'Supprimer', @event, :class => "btn btn-primary", method: :delete, data: { confirm: 'Voulez vous vraiment supprimer cet événement ?' } %>
          </div>
        <% end %>
    </div>
  </div>
</div>
  
