<% content_for :title, @event %>

<div class='container event'>
  <div class="mb-3" style="max-width: 100%;">
    <div class="row no-gutters">
      <div class="col-md-4">
      <%= image_tag "categories/#{@event.category}.jpg", class: 'img-fluid rounded' if @event.category %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
            <h2 class="card-title mb-4">
              <strong>Organisé par</strong> <%= @event.user %>
            </h2>
            <p><%= mail_to @event.user, @event.user.email %></p>
            <h2 class="event__infos">
              <strong>Lieu </strong>
            </h2>
            <div class="d-flex justify-content-between">
              <p><%= link_to @event.lieu, 'https://www.google.fr/maps/search/' +  @event.lieu +  @event.ville , target: "_blank", :class => "link"%> à <%= @event.ville %></p>
              <button  class='btn btn-primary'>
              <%= link_to 'Voir itinéraire', 'https://www.google.fr/maps/search/' +  @event.lieu +  @event.ville , target: "_blank", :class => "link text-white"%>
              </button>
            </div>
            <h2 class="event__infos">
              <strong>Date</strong>
            </h2>
            <%= @event.start_at.strftime('%d/%m/%Y à %H:%M')%>
          <div class='event__description'>
          <%= simple_format @event.description %>
          </div>
          <% if can? :update, @event %>
              <%= link_to 'Modifier', edit_event_path(@event), class: 'btn btn-primary' %>
            <% end %>
            <% if can? :destroy, @event %>
              <%= link_to 'Supprimer', event_path(@event), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-primary' %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
