	<div class="discover">
		<h2 class="discover-title">À propos de Fais-Moi Signe</h2>
		<div class="underlineText"></div>
		<div class="cartes">
			<div class="carte">
				<%= image_tag 'logoBlanc.png'%>
				<div class="Questions">
				Pourquoi avoir créé la plateforme Fais-Moi Signe ?
				</div>
			</div>
			<div class="carte">
				<%= image_tag 'main.png'%>
				<div class="Questions">
				Qui peut être partenaire de Fais-Moi Signe ?
				</div>
			</div>
			<div class="carte">
				<%= image_tag 'argent.png'%>
				<div class="Questions">
				L'inscription et les rencontres sont-elles payantes ?
				</div>
			</div>
			<div class="carte">
				<%= image_tag 'dossier.png'%>
				<div class="Questions">
				Je suis un utilisateur particulier, puis-je créer ma rencontre ?
				</div>
			</div>
			<div class="carte">
				<%= image_tag 'securité.png'%>
				Vérifiez-vous les évènements créés par les utilisateurs ?
			</div>
			<div class="carte">
				<%= image_tag 'equipe.png'%>
				<div class="Questions">
				Est-il possible de rejoindre l'équipe Fais-Moi-Signe ?
				</div>
			</div>
		</div>
		<div class="quisommesnous">
			<h2 class="discover-title text-left">Qui sommes-nous?</h2>
			<div class="underlineText"></div>
			<div class="row">
				<div class="col-sm-6">
					<p class="text2">Les petites mains de <b>Fais-Moi Signe</b> c’est une équipe de bénévoles. Nous avons créé cette plateforme pour multiplier les échanges autour de la <b>Langue des Signes Française</b>. Créé en 2019 par un groupe d’étudiants, Fais-Moi Signe devient une <b>association</b> en 2020. Nous croyons qu’il est nécessaire de répondre au besoin de ceux qui utilisent cette langue pour s’exprimer. Nous croyons qu’il est nécessaire de <b>briser la barrière de la communication</b> entre tous les individus. Nous croyons que l’apprentissage de cette langue doit être <b>accessible et gratuit</b> pour tous. Nous croyons que <b>Fais-Moi Signe</b> sera notre solution.
					</p>
					<p><strong>Notre équipe : </strong>
						<a class="rs" href="https://www.ethanpiboyeux.fr/"> Ethan Piboyeux, </a>
						<a class="rs" href="https://www.linkedin.com/in/rebecca-meddahi/">Rebecca Meddahi,</a>
						<a class="rs" href="http://juliedemendonca.fr/">Julie De Mendonça, </a>
						<a class="rs" href="https://www.behance.net/luciecanton">Lucie Canton, </a>
						<a class="rs" href="http://mariegoursaud.fr/">Marie Goursaud, </a>
						<a class="rs" href="https://cleliaguyon.com">Clélia Guyon, </a>
						<a class="rs" href="https://www.behance.net/lucashirt354f5">Lucas Hirt,  </a>
						<a class="rs" href="http://vaninaidiart.fr/">Vanina Idiart, </a>
						<a class="rs" href="http://instagram.com/evanmartiin">Evan Martin, </a>
						<a class="rs" href="http://portfolio-moody.glitch.me/">Loïc Thépaut,</a>
						<a class="rs" href="https://www.behance.net/maximelauer">Maxime Lauer,</a>
						<a class="rs" href="https://www.behance.net/marsallelucas">Lucas Marsalle.</a>
					</p>
				</div>
				<div class="col-sm-1">

				</div>
				<div class="col-sm-5">
					<%= image_tag 'allteam.png', class: "img7Team" %>
				</div>
				<div class="discover-contact">
					<h2 class="discover-title text-left">Nous contacter</h2>
					<div class="underlineText"></div>
					<h4 class="mail"><a href="mailto:faismoisigne@outlook.fr">faismoisigne@outlook.fr</a></h4>
				</div>
			</div>
		</div>
	</div>
