<div class="discover">
	<h2 class="title">(Faire) découvrir la Langue des Signes n’a jamais été aussi simple</h2>
	<div class="row">
		<div class="col-sm-5">
			<%= image_tag 'illu.jpg', class: "img6", :width => "100%"; %>
		</div>
		<div class="col-sm-2">
		</div>
		<div class="col-sm-5">
			<p class="text">Grâce à <strong>Fais-moi signe</strong>, vous pouvez facilement trouver et rejoindre un événement autour de la <strong>Langue des Signes</strong>. Créez votre profil, découvrez les rencontres organisées par les autres membres, et <strong>choisissez celle qui vous correspond</strong>.<br/> <br/> <br/> 
			Vous souhaitez rencontrer quelqu’un en particulier ? Ou peut-être créer votre propre événement ? <strong>Fais-moi signe vous permet de rentrer en contact avec la personne de votre choix</strong> et de lui proposer une rencontre ; ou encore d’organiser des événements à plus grande échelle. <br/> <br/> <br/> 
			Qu’il s’agisse d’un meeting autour d’un café, de lectures de poèmes, ou d’un atelier éducatif pour <strong>découvrir activement la langue</strong> ; Fais-moi signe vous permet de choisir le rendez-vous qui correspond à vous attentes.
			</p>
		</div>
	</div>
	<h2 class="title">Qui sommes-nous?</h2>
	<div class="row">
		<div class="col-sm-5">
			<p class="text2">Derrière <strong>Fais-moi signe</strong> se cache une équipe de <strong>onze étudiants bordelais en DUT Métiers du Multimédia et de l’Internet</strong>. Nous sommes des passionnés de développement web, de communication digitale et de graphisme. <strong><br/> <br/> <br/> 
			Notre objectif ? </strong>Contribuer à la démocratisation de la Langue des Signes Française… à la manière des digital natives !<br/> <br/> <br/> <br/> <br/> <br/>  
			</p>
			<p><strong>Notre équipe : </strong>
				<a class="rs" href="https://www.ethanpiboyeux.fr/"> Ethan Piboyeux, </a>
				<a class="rs" href="https://www.linkedin.com/in/rebecca-meddahi/">Rebecca Meddahi,</a>
				<a class="rs" href="http://juliedemendonca.fr/">Julie De Mendonça, </a>
				<a class="rs" href="https://www.behance.net/luciecanton">Lucie Canton, </a>
				<a class="rs" href="http://mariegoursaud.fr/">Marie Goursaud, </a>
				<a class="rs" href="https://cleliaguyon.com">Clélia Guyon, </a>
				<a class="rs" href="https://www.behance.net/lucashirt354f5">Lucas Hirt,  </a>
				<a class="rs" href="http://vaninaidiart.fr/">Vanina Idiart, </a>
				<a class="rs" href="instagram.com/evanmartiin">Evan Martin, </a>
				<a class="rs" href="http://portfolio-moody.glitch.me/">Loïc Thépaut,</a>
				<a class="rs" href="https://www.behance.net/maximelauer">Maxime Lauer,</a>
				<a class="rs" href="https://www.behance.net/marsallelucas">Lucas Marsalle.</a>
			</p>
		</div>	
		<div class="col-sm-2">
		
		</div>
		<div class="col-sm-5">
			<%= image_tag 'nous.png', class: "img7", :width => "100%"; %>

		</div>
	</div>
	<h2 class="title">NOS PARTENAIRES</h2>
	<div class="row">
		<div class="col-sm-4 centrer">
			<%= image_tag 'logo2.svg', class: "img8", :width => "70%"; %>
			</div>	
			<div class="col-sm-4 centrer">
			<%= image_tag 'logo1.png', class: "img8", :width => "70%"; %>
			</div>
			<div class="col-sm-4 centrer">
			<%= image_tag 'lsf.jpg', class: "img8", :width => "100%"; %>
			</div>	
	
	
	</div>
</div>