

	<div class="home">


		<div class="bg" style="height: 50%"></div>

		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 centrer text-accueil">
				<h1 class="title-accueil">Fais-Moi Signe</h1>
				<h4 class="font-italic font-weight-light">Un site, un signe, une rencontre.</h5>
				<h3 class="baseline">Trouvez un évènement près de chez vous !</h2>
			</div>
		</div>

		<div class="row evenements">
			<div class="container">
				<div class="row">

					<div class="card col-3 first-card">
		                <%= image_tag 'gauche.png', class: "card-img-top" %>
		                <div class="card-body first-card">
		                  <h5 class="card-title first-card">inscrivez vous</h5>
		                </div>
	                </div>

	                <% @events.sort_by{ |t| t.date }.each do |event| %>
		                <%if event.date > Date.today %>
			               	<div class="card col-3">
				                <%= image_tag 'imgv0.jpg', class: "card-img-top" %>
				                <div class="card-body acc">
				                	<p class="card-text acc">Type</p>
				                	<h5 class="card-title acc"><%= event.nom %></h5>
				                	<p class="card-text acc">Le <%= event.date.strftime('%d/%m/%Y')%> à <%= event.heure.strftime('%H:%M') %></p>
				                	<p class="card-text acc"><%= link_to event.ville, 'https://www.google.fr/maps/search/'%></p>
				                </div>
				                <%= link_to 'Participer', event, :class => "btn btn-primary btn-sm"%>
		                	</div>
		                <% end %> 
	      			<% end %>

		      		<div class="card col-3 first-card">
		                <%= link_to events_path, class: "link-first-card" do %>
				                <%= image_tag 'agenda.png', class: "card-img-top first-card" %>
				                <div class="card-body first-card">
		                  			<h5 class="card-title first-card">tout l'agenda</h5>
				                </div>
			                <% end %>
	                </div>

	                
	                <div class="card col-3 first-card">
	                	<%= link_to new_event_path(@events), class: "link-first-card" do %>
			                <%= image_tag 'plus.png', class: "card-img-top first-card"%>
			                <div class="card-body first-card">
			                  <h5 class="card-title first-card">créez votre événement</h5>
			                </div>
		                <% end %>
	                </div>
                
				</div>

			</div>
		</div>

		<div class="contact">
			<div class="contact-part">
				<h1 class="contact-titre">Qui sommes-nous ?</h1>
				<div class="underlineText"></div>
				<div class="font-italic font-weight-light contact-desc">Les petites mains de <b>Fais-Moi Signe</b> c’est une équipe de bénévoles. Nous avons créé cette plateforme pour multiplier les échanges autour de la Langue des Signes française.</div>
				<button class="font-weight-bold btn btn-sm btn-secondary">EN SAVOIR PLUS</button>
			</div>
			<div class="contact-part contact-center">
				<h1 class="contact-titre">Comment participer ?</h1>
				<div class="underlineText"></div>
				<div class="font-italic font-weight-light contact-desc">Pour participer à des événements, il suffit de se connecter à son compte <b>Fais-Moi Signe</b> ou de s’inscrire, de choisir un événement parmi ceux créés ou d’en créer un !</div>
				<button class="font-weight-bold btn btn-sm btn-secondary">LES ÉVÉNEMENTS</button>
			</div>
			<div class="contact-part">
				<h1 class="contact-titre">Comment s'inscrire ?</h1>
				<div class="underlineText"></div>
				<div class="font-italic font-weight-light contact-desc">Pour faire partie de la famille <b>Fais-Moi Signe</b>, il suffit de renseigner ses coordonnées dans le formulaire d’inscription.</div>
				<button class="font-weight-bold btn btn-sm btn-secondary" style="margin-top: 22px;">S'INSCRIRE</button>
			</div>
		</div>

		<div class="soutiens">
			<h1 class="soutiens-titre font-weight-bold">Ils nous soutiennent</h1>
				<div class="underlineText"></div>
			<div class="soutiens-logo">
				<%= image_tag 'lsf.png', class: "lsf" %>
				<%= image_tag 'universite.png', class: "uni" %> 
				<%= image_tag 'logo1.png', class: "logoHP" %>
			</div>
		</div>

	</div>
