

	<div class="home">


		<div class="bg" style="height: 80%"></div>

		<div class="row">
			<div class="col-lg-2"></div>
			<div class="col-lg-8 centrer text-accueil">
				<h1 class="title-accueil font-weight-bold">Fais-Moi Signe</h1>
				<h4 class="font-italic font-weight-light">Un site, un signe, une rencontre.</h5>
				<h3 class="baseline">Trouvez un évènement près de chez vous !</h2>
			</div>
		</div>

		<div class="row evenements">
			<div class="container">
				<div class="row">

				<div class="card col-3 first-card">
	                <%= image_tag 'gauche.png', class: "card-img-top" %>
	                <div class="card-body first-card">
	                  <h5 class="card-title first-card">inscrivez vous</h5>
	                </div>
                </div>

	                <% @events.sort_by{ |t| t.date }.first(7).each do |event| %>
		                <%if event.date > Date.today %>
			               	<div class="card col-3">
				                <%= image_tag 'imgv0.jpg', class: "card-img-top" %>
				                <div class="card-body acc">
				                	<p class="card-text acc">Type</p>
				                	<h5 class="card-title acc"><%= event.nom %></h5>
				                	<p class="card-text acc">Le <%= event.date.strftime('%d/%m/%Y')%> à <%= event.heure.strftime('%H:%M') %></p>
				                	<p class="card-text acc"><%= link_to event.lieu, 'https://www.google.fr/maps/search/' +  event.lieu + '+' + event.num_rue.to_s + '+' + event.rue + '+' + event.code_postal.to_s + '+' +  event.ville , target: "_blank", :class => "link"%> à <%= event.ville %></p> 
				                	<%= link_to 'Participer', event, :class => "btn btn-primary btn-sm"%>
				                </div>
		                	</div>
		                <% end %> 
	      			<% end %>
                
				</div>

				<div class="row">
					<%= link_to 'Organiser un événement', new_event_path(@events), :class => "btn btn-primary btn-sm"%>
				</div>

			</div>
		</div>

		<div class="contact">
			<div class="contact-part">
				<h1 class="contact-titre">Qui sommes-nous ?</h1>
				<div class="underlineText"></div>
				<div class="font-italic font-weight-light contact-desc">Les petites mains de <b>Fais-Moi Signe</b> c’est une équipe de bénévoles. Nous avons créé cette plateforme pour multiplier les échanges autour de la Langue des Signes française.</div>
				<button class="font-weight-bold btn btn-sm btn-secondary">EN SAVOIR PLUS</button>
			</div>
			<div class="contact-part contact-center">
				<h1 class="contact-titre">Comment participer ?</h1>
				<div class="underlineText"></div>
				<div class="font-italic font-weight-light contact-desc">Pour participer à des événements, il suffit de se connecter à son compte <b>Fais-Moi Signe</b> ou de s’inscrire, de choisir un événement parmi ceux créés ou d’en créer un !</div>
				<button class="font-weight-bold btn btn-sm btn-secondary">LES ÉVÉNEMENTS</button>
			</div>
			<div class="contact-part">
				<h1 class="contact-titre">Comment s'inscrire ?</h1>
				<div class="underlineText"></div>
				<div class="font-italic font-weight-light contact-desc">Pour faire partie de la famille <b>Fais-Moi Signe</b>, il suffit de renseigner ses coordonnées dans le formulaire d’inscription.</div>
				<button class="font-weight-bold btn btn-sm btn-secondary">S'INSCRIRE</button>
			</div>
		</div>

		<div class="soutiens">
			<h1 class="soutiens-titre font-weight-bold">Ils nous soutiennent</h1>
				<div class="underlineText"></div>
			<div class="soutiens-logo">
				<img style="height: 8vw" src="assets/lsf.png">
				<img style="height: 6vw" class="h-7" src="assets/universite.png">
				<img style="height: 6vw" src="assets/logo1.png">
			</div>
		</div>

	</div>
