<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="https://www.facebook.com/faismoisigne.org"><%= fa_icon "facebook" %></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/Faismoisigneorg"><%= fa_icon "twitter" %></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/faismoisigneorg"><%= fa_icon "instagram" %></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled small">
          <li><%= link_to "L'association", about_path %></li>
          <li><%= link_to "FMS Family", supports_path %></li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="list-unstyled small">
          <li><a href="https://drive.google.com/open?id=1IN8qu5Y1jATysH9uEOxKCelR-DlyMQ2U">Mentions légales</a></li>
          <li><a href="http://www.faismoisigne.org">CGU </a></li>
          <li><a href="mailto:faismoisigne@outlook.fr">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 small">
        © Copyright 2020
      </div>
    </div>
  </div>
</footer>
