<footer class="footer small">
  <div class="copyright">
    © 2020 :
    <a class="site" href="http://www.faismoisigne.org">faismoisigne.org</a>
  </div>
  <div class="droit">
    <a class="site" href="http://www.faismoisigne.org"> Mentions légales</a> -
    <a class="site" href="http://www.faismoisigne.org"> CGU </a> -
    <a class="site" href="http://www.faismoisigne.org"> Contact</a>
  </div>
  <div class="site">
      <%= link_to 'https://www.facebook.com/faismoisigne.org/', :class => 'lien' do %> <%= fa_icon "facebook" %> <% end %>
      <%= link_to 'https://twitter.com/Faismoisigneorg', :class => 'lien' do %> <%= fa_icon "twitter" %><% end %>
      <%= link_to 'https://www.instagram.com/faismoisigneorg', :class => 'lien' do %> <%= fa_icon "instagram" %><% end %>
  </div>
</footer>
