<nav class="navbar navbar-expand-md navbar-light bg-transparent mb-5">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag 'logo.png', height: 50 %>
      <span class="pl-2">Fais-moi signe</span>
    <% end %>
    <button class="navbar-toggler black" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      Menu
    </button>
    <div id="navbarNavDropdown" class="collapse navbar-collapse" >
      <ul class="navbar-nav ml-auto" >
        <li class="nav-item">
          <%= link_to "Accueil", root_path, class: "nav-link" %></%>
        </li>
        <li class="nav-item">
          <%= link_to "Événements", events_path, class: "nav-link" %>
        </li>
        <li class="nav-item ">
          <%= link_to "Notre famille", supports_path, class: "nav-link" %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item ">
            <%= link_to current_user, class: "nav-link" do %>
              <%= fa_icon 'user' %>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item ">
            <%= link_to 'Se connecter', new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item ">
            <%= link_to 'S\'inscrire', new_user_registration_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
