




    <div class="content">
      <div class=" colonne">

          <h1 class="aff-title">
            <%= full_name_profile %>
          </h1>
        
          <hr/>

          <div class="elements">
          <%= @user.description %><br>
          <%= mail_to @user.email, @user.email%> <br>
          <%= @user.lieu %> <br>
          <%= @user.bio %> <br>     
          </div>
        </div>
    </div>