<!DOCTYPE html>
<html>
  <head>
    <title>Faismoisigne</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <nav>
      <div>
         <a href="/">Accueil</a>
      </div>
      <%unless user_signed_in?%>
      <div>
        <div>
          <%= link_to "Inscription",new_user_registration_path, class: "" %></%>
        </div>
        <div class="">
          <%= link_to "Connexion",new_user_session_path, class: "" %></%>
        </div>
      </div>
      <%end%>
      <% if user_signed_in?%>
      <div class="">
        <div class="">
          <%= link_to destroy_user_session_path, method: :delete do %>
          <%= content_tag :div, "Déconnexion", :class => "" %>
          <% end %>

        </div>
      </div>
      <%end%>
</nav>
    </nav>
    <%= yield %>
  </body>
</html>
