<!DOCTYPE html>
<html>
  <head>
    <title>Fais-moi signe</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  

<navbar class="page-navbar ">
<nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <%= image_tag 'logo.png', class: "img-fluid" %>
      <%= link_to "Fais-moi signe", root_path, class: "logo_title" %></%>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div id="navbarNavDropdown" class="collapse navbar-collapse" >
    <ul class="navbar-nav " >
      <li class="nav-item">
        <%= link_to "Accueil",root_path, class: "nav-link" %></%>
      </li>
      <li class="nav-item">
        <%= link_to "Organiser",new_event_path, class: "nav-link" %></%>
      <li class="nav-item">
        <%= link_to "Participer",events_path, class: "nav-link" %></%>
      </li>
     <%unless user_signed_in?%>
       <li class="nav-item">
          <%= link_to "Inscription",new_user_registration_path, class: "nav-link" %></%>
        </li>
        <li class="nav-item">
          <%= link_to "Connexion",new_user_session_path, class: "nav-link" %></%>
        </li>
      <%end%>
      <% if user_signed_in?%>
      <li class="nav-item">
        <li><%= link_to "Profil", current_user, class: "nav-link" %></li>  
      </li>
      <li class="nav-item">
          <%= link_to "Déconnexion", destroy_user_session_path, method: 'delete', class: 'nav-link text-danger'%>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
</navbar>
  




<p id="notice"><%= notice %></p>
    <%= yield %>

 
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 :
    <a href="http://www.faismoisigne.org"> faismoisigne.org</a>
    <%= link_to 'https://www.facebook.com/faismoisigne.org/', :class => 'lien' do %> <%= fa_icon "facebook" %> <% end %>
    <%= link_to 'https://twitter.com/Faismoisigneorg', :class => 'lien' do %> <%= fa_icon "twitter" %><% end %>
    <%= link_to 'https://www.instagram.com/faismoisigneorg', :class => 'lien' do %> <%= fa_icon "instagram" %><% end %>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</html>
